<input type="number" [(ngModel)]="pageNumber" min="0" />
<input type="number" [(ngModel)]="pageSize" />
<button type="button" (click)="refresh()">Refresh</button>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Lat</th>
      <th>Long</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries">
      <td>{{country.Code}}</td>
      <td>{{country.Name}}</td>
      <td>{{country.Latitude}}</td>
      <td>{{country.Longitude}}</td>
    </tr>
  </tbody>
</table>